
* {
	box-sizing: border-box;
}
body{
	font-family: "open sans", sans-serif;
	
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0px;
}

.navbar-header{
	background-color: #f5f7fa;
	border-bottom: 1px solid #e6e9ed;
}
.navbar{
	min-height: 112px;
	background-color: #ffffff;

}
li.nav{
	display: inline;
}
ul.nav li:last-child{
	margin-left: 205px;
}
.menu{
	float: right;
}
ul.navbar-header-contact li{
	display: inline;
	padding-right: 25px;
}


ul.navbar-header-social li{
	display: inline-block;
	padding-left: 9px;
	line-height: 40px;
	height: 100%;
	width: 100%;
}

ul.navbar-header-contact li i{
	padding-right: 8px;
}

ul.navbar-header-contact{
	margin-bottom: 0px;
}
ul.navbar-header-social{
	height: 100%;
	margin: 0px;
	font-size: 0px;

}

.navbar-header-social a{
	display: inline-block;
	/*border: 1px solid black;*/
	width: 30px;
	height: 40px;
}
.navbar-header-social li{
	line-height: 27px;
}

.navbar-header .row{
	justify-content: space-between;
}
.navbar-header ul li{
	font-size: 11px;
	color: #506a85;
}
ul.nav li{
	margin: 20px 20px 20px 17px;
}
ul.nav li a{
	font-size: 14px;
	font-weight: bold;
}
div.search{
	color: #506a85;
	margin-right: 22px;
}
div.search a{
	text-decoration: none;
	color: #506a85;
}
div.container{
	max-width: 1200px;
}

ul.nav li a{
	color: #506a85;
	text-decoration: none;
	transition: 1s;
}
ul.nav li a:hover{
	color: rgb(115, 135, 156);
}
.navbar{
	color: #506a85;
}
.hero{
	text-align: center;
	background-image: url("../img/image.png");
	padding-bottom: 301px;
	padding-top: 285px;
	background-position: center;
}
.hero h1{
	font-size: 78px;
	font-family: "Lato";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.128;
	font-weight: 900;
	letter-spacing: 4.9px;

}

.hero p{
	font-family: "Lato";
	font-size: 24px;
	padding-top: 4px;
	color: rgb(255, 255, 255);
	opacity: 0.6;
	width: 950px;
	margin: auto;
}

.getStart{
	font-size: 16px;
	font-family: "SourceSansPro";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
		transition: 1s;
}
.getStart:hover {
	color: rgb(0, 188, 156);
	background-color: #fff;
	cursor: pointer;
}

.hero button{
	border-radius: 3px;
	background-color: rgb(0, 188, 156);
	box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
	min-width: 295px;
	height: 65px;
	margin-top: 58px;
	border: none;
}


.who-we-are{
	min-height: 672px;
	background-color: #fff;
	padding: 120px 0px 75px 0px;
}
.who-we-are h1{
	font-size: 44px;
	font-family: "Lato";
	color: rgb(80, 106, 133);
	font-weight: bold;
	line-height: 1.227;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 28px;
}
.who-we-are p{
	margin: 0;
	font-size: 21.5px;
	font-family: "Lato";
	color: rgb(80, 106, 133);
	line-height: 1.5;
	text-align: center;
}
.who-we-are .row .col-md-9 h1{
	font-size: 26px;
	font-family: "Lato";
	color: rgb(80, 106, 133);
	font-weight: bold;
	line-height: 1.227;
	padding-top: 0px;
	text-align: left;

}
.who-we-are .row .col-md-9 p{

	padding-top: 15px;

	font-size: 16px;
	font-family: "Lato";
	color: rgb(80, 106, 133);
	line-height: 1.5;
	text-align: left;

}
.who-we-are .row{
	padding-top: 57px;
}
.who-we-are-ul ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.list_item + .list_item{
	margin-left: 40px;
}
.list_text .list_title{
	text-align: left;
	padding: 0px;
	font-size: 26px;
	font-family: "Lato";
	color: rgb(80, 106, 133);
	font-weight: bold;
	line-height: 1.227;
}
.list_text p{
	font-size: 16px;
	font-family: "Lato";
	color: rgb(115, 135, 156);
	line-height: 1.5;
	text-align: left;
	padding-top: 13px;
	opacity: 0.5;
		transition: 0.6s;
}
.list_text p:hover{
	opacity: 1;
	color: rgb(80, 106, 133);

	cursor: pointer;
}
.list_item{
 vertical-align: top;
	position: relative;
	width: calc(33.33% - 27px);
	font-size: 12px;
	display: inline-block;
}

.who-we-are-ul{
	font-size: 0;
	margin-top: 73px;
}
.list_item2{
	padding-left: 11px;
}
.list_item3{
	padding-left: 19px;
}
.latest_works{
	padding: 121px 0px 180px 0px;
	background-color: #f2f5f7;
}
.latest_works h1{
	font-size: 44px;
	font-family: "Lato";
	color: rgb(80, 106, 133);
	font-weight: bold;
	line-height: 1.227;
	text-align: center;
	letter-spacing: 1px;
}
.latest_works p{
	margin-top: 25px;
	font-size: 21.5px;
	font-family: "Lato";
	color: rgb(80, 106, 133);
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.1px;

}
.latest_works .checkout{
	background-color: #fff;
	border: solid #e6e9ed 1px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.latest_works .row{
	padding-top: 58px;
}
.latest_works figcaption h2{
	font-size: 20px;
	font-family: "Lato";
	color: rgb(80, 106, 133);
	font-weight: bold;
	line-height: 1.3;
	text-align: center;
	padding-top: 28px;
	letter-spacing: 0.5px;
}
.latest_works figcaption p{
	font-size: 14px;
	font-family: "Lato";
	color: rgb(80, 106, 133);
	padding-top: 0px;
	line-height: 1.3;
	text-align: center;
}
.latest_works figcaption p{
	margin-top: 9px;
}
.checkout figcaption h2:hover{
	color: rgb(0, 188, 156);
	transition: 0.3s;
}
.checkout figcaption a{
	text-decoration: none;
}


.carousel li{
		display: inline-block;
		margin: 15px;
	}
.carousel{
		padding: 22px 0px 0px 0px;
	}
.bg + .bg{
		margin-left: 10px;
	}
.get_in_touch h1{
		font-size: 44px;
		font-family: "Lato";
		color: rgb(80, 106, 133);
		font-weight: bold;
		line-height: 1.227;
		text-align: center;
		letter-spacing: 1px;
	}
	.get_in_touch p{
		padding-top: 18px;
		font-size: 21.5px;
		font-family: "Lato";
		color: rgb(80, 106, 133);
		line-height: 1.5;
		text-align: center;
		letter-spacing: 0.1px;

	}
	.get_in_touch{
		text-align: center;
		padding: 120px 0px 130px 0px;
	}
	.get_in_touch_button{
		border-radius: 3px;
		background-color: rgb(0, 188, 156);
		box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
		width: 150px;
		height: 50px;
		margin-top: 24px;
		border: none;
		font-size: 14px;
		font-family: "SourceSansPro";
		color: rgb(255, 255, 255);
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
	}
	.get_in_touch_button:hover{
		color: #fff;
		background-color: #17a78b;
		cursor: pointer;
		transition: 1s;
	}

	footer .row{
		padding: 48px 0px 66px 0px;
	}
	.footerlogo{
		margin: 22px 0px 19px 0px;
		width: 129px;
		height: 32px;
			transition: 0.6s;
		background-image: url("../img/footerlogo.png");
	}
	.footerlogo:hover{
		opacity: 0.7;
	
	}
	footer h3{
		letter-spacing: 1.5px;
		font-size: 16px;
		font-family: "Lato";
		color: rgb(255, 255, 255);
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.375;
		text-align: left;
		margin: 22px 0px 16px 0px;
		transition: 0.7s;
	}
	.footblock h3:hover{
		letter-spacing: 3px;
	}
	.footblock p{
		font-size: 14px;
		font-family: "Lato";
		color: #a3b1bf;
		line-height: 1.6;
		text-align: left;
		letter-spacing: 0.1px;
		padding: 0px;
		margin: 0px 0px 21px 0px;
	}
	p.padd{
		margin: 0px 0px 15px 0px;
	}
	.footblock a{
		font-size: 12px;
		font-family: "Lato";
		color: #a3b1bf;
		line-height: 1.6;
		text-align: left;
		letter-spacing: 0.7px;
		text-decoration: none;
		transition: 0.5s;
	}
	.footblock a:hover{
		color: rgb(0, 188, 156);
		font-weight: bold;
		
	}
	.footblock a .pad8{
		transition: transform .5s;
	}
	.footblock a:hover .pad8{
		transform: translateX(8px);
	}
	.footblock ul{
		padding: 0px;
		margin: 0px;
	}
	li.fb{
		display: inline-block;
	}
	.input-group{
		margin: 17px 0px 0px 0px;
		border: 0px;
	}
	.input-group-text{
		background-color: #00bc9c;
		border: 0px;
		color: #fff;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.form-control{
		font-size: 13.5px;
		opacity: 0.4;
		font-family: "Lato";
		border-radius: 3px;
		color: #111;
		font-weight: bold;
	}

	.foot-end p{
		padding: 20px 0px;
		font-size: 13px;
		font-family: "Lato";
		color: #a3b1bf;
		line-height: 1.6;
		text-align: left;
		letter-spacing: 0.1px;
		padding: 0px;
		margin: 0px;
		padding: 0px;
	}
	.foottop{
		background-color: #2f4052;
	}
	.foot-end{
		background-color: #283645;
	}
	.footer-menu ul li{
		display: inline;
	}
	.footer-menu ul{
		font-size: 13px;
		font-family: "Lato";
		color: #a3b1bf;
		line-height: 1.6;
		text-align: left;
		letter-spacing: 0.1px;
	}
/*	.carousel-bg{
		width: 270px;
		height: 185px;
		position: absolute;
		transition: 0.5s;
	}*/
	li.bg:hover .carousel-bg{
		background-color: rgb(0, 188, 156, 0.6);
	}
	li.bg{
		display: inline-block;
  position: relative;
	}
	li.bg a::after{
	content: "";
	position: absolute;
	background-color: rgb(0, 188, 156);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.4s;
	}
	li.bg a:hover:after{
		opacity: 0.5;
	}
	li.fb a:after{
	content: "";
	position: absolute;
	background-color: rgb(0, 188, 156);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.4s;
}
	li.fb a:hover:after{
		opacity: 0.5;
}
	.fb{
	display: inline-block;
	position: relative;
	margin: 5px 2px 0px 0px;
}
.checkoutbg{
	display: inline-block;
	position: relative;
}
.checkoutbg img{
	max-width: 100%;
	height: auto;

}
.checkoutbg a::after{
	content: "";
	position: absolute;
	background-color: rgb(0, 188, 156);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.3s;
}
.checkoutbg a:hover:after{
		opacity: 0.5;
}
.checkout:hover

.footer-menu li{
	display: inline;
}


.foot-end-inner{
	min-height: 80px;
display: flex;
justify-content: space-between;
align-items: center;
}
.foot-end-inner ul{
	margin: 0;
}
div.foot-end .container{
	margin: auto;
}
.ft + .ft{
	margin-left: 22px;
}
li.ft a{
	color: #506a85;
	text-decoration: none;
	transition: 0.5s;
}
li.ft a:hover{
	color: #0ebfa2;
	transition: 0.5s;
}
div.search a{
	text-decoration: none;
}
.navbar-header-inner{
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.navbar-inner{
	width: 100%;
		display: flex;
	justify-content: space-between;
	align-items: center;
}
.footblock ul i{
	margin-right: 5px;
}
.footblock ul{
			font-size: 14px;
		font-family: "Lato";
		color: #a3b1bf;
}
.navbar-header-contact li a{
 text-decoration: none;
 color: #506a85;
 transition: 0.5s;
}
.navbar-header-contact li a:hover{
	color: #0ebfa2;
}
div.col-md-3.footblock ul li a{
	transition: 0.6s;
}

.facebook:hover{
	background-color: blue;
	color: #fff;
}

.google:hover{
	background-color: #de5745;
	color: #fff;
}
.twitter:hover{
	background-color: #2fbbed;
	color: #fff;
}
.pinterest:hover{
	background-color: #d94348;
	color: #fff;
}
.behance:hover{
	background-color: #3079ff;
	color: #fff;
}
.dribbble:hover{
	background-color: #eb6397;
	color: #fff;
}
#basic-addon2{
	height: 34px;
	transition: 0.5s;
}
#basic-addon2:hover{
	background-color: #17a78b;
}
input.form-control{
	background-color: #fff;
}
#go-to-top{
	display: none; /* Hidden by default */
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 99; /* Make sure it does not overlap */
	border: none;/*  Remove borders */
	outline: none; /* Remove outline */
	background-color: #3c5065;
	opacity: 0.7; /*прозрачность всего элемента*/
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	border-radius: 5px;
	height: 40px;
	width: 40px;
	font-size: 28px;
	transition: 0.3s;
}
#go-to-top:hover{
	background-color: #506a85;
	color: #17a78b;
}
.btn-subscribe{
	position: absolute;
	height: 27px;
	width: 88px;
	right: 0;
	top: 0;
	margin: 3px 5px 3px 0px;
	background-color: #17a78b;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 27px;
	padding: 0;
}
.btn-subscribe:hover{
	background-color: #06967a;
}
input.form-control{
	border-radius: 3px!important;
}
.list_img{
width: 77px;
position: absolute;
left: 0;
top: 0;
text-align: center;
}
.list_item{
padding-left: 100px;
position: relative;
}
.list_text{

}
.checkout figure{
	margin-bottom: 31px;
}



/*======================= MEDIA ========================*/



@media (max-width: 768px){
	.hero .container{
		/*display: flex;*/

	}
	.hero{
		padding: 60px 0px 60px 0px;
	}
	div.hero h1{

		margin: auto;
		font-size: 28px;
	}
	.hero p{
		padding-top: 20px;
		font-size: 22px;
		width: 85%;
		margin: auto;
	}
	.hero button{
	width: 395px;
	height: 90px;
	font-size: 30px;
	}
	.who-we-are{
		padding: 30px 0px;
	}
	.who-we-are h1{
		width: 70%;
		margin: auto;
		font-size: 28px;
		margin: 20px auto;
	}
	.who-we-are p{
		text-align: center;
		font-size: 22px;
		display: inline;

	}
	.list_item{
		width: 100%;
		margin-bottom: 40px;
	}
	.list_item + .list_item {
		margin: 0px 0px 40px 0px;
	}
	.hero button{
		width: 60%;
		font-size: 14px;
		padding: 25px 20px;
		height: auto;

	}
	.foot-end-inner{
		display: block;
	}
	.foot-end-inner p{
		padding: 15px 0px;
		text-align: center;
	}
	.foot-end-inner ul{
		padding-bottom: 15px;
		text-align: center;
	}
	.checkoutbg img{
	max-width: 100%;
	height: auto;
	}
	.figure-inner{
	display: flex;
	justify-content: center;
	}
	.bg + .bg{
		margin-left: 10;
	}
	.navbar-header-contact li{
		display: block;
	}
	ul.nav{
		display: none;
	}
}



